<!--
A new scriv changelog fragment.

(Un)comment the section that is right (add/remove the HTML comment wrapper).
-->

<!--
### Impact

- A bullet item for the Impact category.

-->

### NixOS platform

- A bullet item for the NixOS platform category.

